.container{
    display: grid;
    grid-template-columns: 40% 40% 15%;
    grid-template-areas: 
    'popularmv popularmv allTimemv'
    'theatremv theatremv allTimemv'
    ;
}

.inside-cont{
    display: block;
    width: 90%;
    margin: auto;
    grid-area: popularmv;
}
.popular-movies{
    // width: 100%;
    margin: auto;
    display: flex;
    gap: 10px;
    overflow: scroll;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: grey 3px 10px 10px 0px;
    
}
.inside-cont2{
    display: block;
    width: 90%;
    margin: auto;
    grid-area: theatremv;
}
.theatre-movies{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    // justify-content: center;
    gap: 50px;
    grid-area: theatremv;

}
.all-time-pop{
    width: 10em;
    height: 70vh;
    border: solid ;
    grid-area: allTimemv;

}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 20px;
    overflow: hidden;
}
