<div class="buttons">
    <a routerLink="/charts/line" routerLinkActive="active">Line</a>
    <a routerLink="/charts/bar" routerLinkActive="active">Bar</a>
    <a routerLink="/charts/pie" routerLinkActive="active">Pie</a>
    <a routerLink="/charts/doughnut" routerLinkActive="active">Doughnut</a>
    <a routerLink="/charts/polarArea" routerLinkActive="active">Polar Area</a>
    <a routerLink="/charts/echartRose" routerLinkActive="active">E-chart Rose</a>
</div>
<div class="container">
    <h1>Router Outlet in chart layoutt</h1>
    <router-outlet></router-outlet>
</div>
