<div class="back"></div>
<h1 class="title">{{title}}</h1>

<div class="container">
    <div class="img-container">
        <img src='{{image}}' alt="" />
    </div>
    <div class="mouvie-info-cont">
        <h3>Rate this Movie</h3>
        <span>{{rating}} </span>
        <form >
            <label>Name</label>
            <input type="text" name="name" placeholder="name" id="">
            <label for="">Review</label>
            <textarea ></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

