<a routerLink="" >Home Page</a>
<a routerLink="/mouvie-project" routerLinkActive="active">Mouvie Project</a>
<a routerLink="/charts" routerLinkActive="active">Charts</a>
<a routerLink="/basic-concept/custom-directive" routerLinkActive="active">Custom Directive</a>
<a routerLink="/basic-concept/reactiveForm" routerLinkActive="active">Reactive Form</a>
<a routerLink="/basic-concept/rxjs" routerLinkActive="active">Working with Rxjs</a>
<a routerLink="/demoFirebase" routerLinkActive="active">Firebase</a>
<router-outlet></router-outlet>


<!-- <ul>
    <ng-container *ngFor="let num of nums">
        <li *ngIf="num%2==0" >
            <span >{{num}}</span>
        </li>
    </ng-container>
</ul> -->

<!-- <ul>
        <li *ngFor="let num of nums" [ngStyle]="{display: num%2==0?'block':'none'}">
                                                
            <span *ngIf="num%2==0">{{num}}</span>
        </li>
</ul> -->