a{
    color: black;
    font-weight: bolder;
    border: whitesmoke;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px 10px;
    letter-spacing: 1px;
    padding: 5px;
}
.active{
    scale: 0.85;
    transition: .5s;
    background-color: black;
    color: white;
}